body {
  /* Offset the container below the topbar */

  padding-top: 60px;
}
.brand > img {
  height: 1.5em;
  margin-top: -10px;
  margin-right: 0.2em;
  margin-bottom: -0.4em;
}
tr.collapsed td {
  height: 0.2em;
  line-height: 0.2em;
  text-align: center;
}
button.done {
  position: absolute;
  right: -0.2em;
  top: 0.6em;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.table-striped tbody tr.archived td {
  background-color: #fffdd2;
}
.table-striped tbody tr.archived:nth-child(odd) td {
  background-color: #fffcc3;
}
.table tbody tr.archived:hover td,
.table tbody tr.archived:hover th {
  background-color: #fffcb8;
}
.archived {
  text-decoration: line-through;
}
i.move {
  cursor: pointer;
}
.moving input {
  color: #b3b3b3;
}
th.icons {
  width: 6em;
}
td.bullet {
  vertical-align: middle;
  text-align: center;
}
th.bullet {
  width: 0.5em;
}
td.icons {
  vertical-align: middle;
  text-align: center;
}
td.item {
  vertical-align: middle;
}
div.itemEditing {
  position: relative;
}
.fullwidth {
  width: 100%;
}
input.natural {
  background: transparent;
  border: 0px solid transparent;
  outline: 0px solid transparent;
  left: -1px;
  top: -1px;
  width: 100%;
  padding-bottom: 0px;
  margin-bottom: 0px;
  -webkit-box-shadow: inset 0 0px 0px;
  -moz-box-shadow: inset 0 0px 0px;
  box-shadow: inset 0 0px 0px;
}
/*
.navbar {
  width: 440px;
}

.container {
  width: 400px !important;
  margin-left: 20px;
}
*/
.item .increment:hover,
.item .remove:hover {
  cursor: pointer;
}
.indent20 {
  margin-left: 20em;
}
.indent19 {
  margin-left: 19em;
}
.indent18 {
  margin-left: 18em;
}
.indent17 {
  margin-left: 17em;
}
.indent16 {
  margin-left: 16em;
}
.indent15 {
  margin-left: 15em;
}
.indent14 {
  margin-left: 14em;
}
.indent13 {
  margin-left: 13em;
}
.indent12 {
  margin-left: 12em;
}
.indent11 {
  margin-left: 11em;
}
.indent10 {
  margin-left: 10em;
}
.indent9 {
  margin-left: 9em;
}
.indent8 {
  margin-left: 8em;
}
.indent7 {
  margin-left: 7em;
}
.indent6 {
  margin-left: 6em;
}
.indent5 {
  margin-left: 5em;
}
.indent4 {
  margin-left: 4em;
}
.indent3 {
  margin-left: 3em;
}
.indent2 {
  margin-left: 2em;
}
.indent1 {
  margin-left: 1em;
}
.indent0 {
  margin-left: 0em;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
@media (max-width: 767px) {
  button.done {
    top: 0;
  }
}
