body {
  /* Offset the container below the topbar */

  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}
.brand > img {
  height: 1.5em;
  margin-top: -10px;
  margin-right: 0.2em;
  margin-bottom: -0.4em;
}
/*
.navbar {
  width: 440px;
}

.container {
  width: 400px !important;
  margin-left: 20px;
}
*/
.item .increment:hover,
.item .remove:hover {
  cursor: pointer;
}
.indent12 {
  margin-left: 12em;
}
.indent11 {
  margin-left: 11em;
}
.indent10 {
  margin-left: 10em;
}
.indent9 {
  margin-left: 9em;
}
.indent8 {
  margin-left: 8em;
}
.indent7 {
  margin-left: 7em;
}
.indent6 {
  margin-left: 6em;
}
.indent5 {
  margin-left: 5em;
}
.indent4 {
  margin-left: 4em;
}
.indent3 {
  margin-left: 3em;
}
.indent2 {
  margin-left: 2em;
}
.indent1 {
  margin-left: 1em;
}
.indent0 {
  margin-left: 0em;
}
