@indentLevels: 12;

body {
  /* Offset the container below the topbar */
  padding-top: 60px;
}

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

.brand > img {
  height: 1.5em;
  margin-top: -10px;
  margin-right: 0.2em;
  margin-bottom: -0.4em;
}

/*
.navbar {
  width: 440px;
}

.container {
  width: 400px !important;
  margin-left: 20px;
}
*/

.item {
  .increment, .remove {
    &:hover {
      cursor: pointer;
    }
  }
}

.indentX (@index) when (@index > -1) {
  (~".indent@{index}") {
    margin-left: (1em*@index);
  }

  .indentX(@index - 1);
}
.indentX (-1) {}

.indentX (@indentLevels);