@indentLevels: 12;

body {
  /* Offset the container below the topbar */
  padding-top: 60px;
}


.brand > img {
  height: 1.5em;
  margin-top: -10px;
  margin-right: 0.2em;
  margin-bottom: -0.4em;
}

button.done {
  position: absolute;
  right: -0.2em;
  top: 1.2em;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

.archived {
  text-decoration: line-through;
}

i.move {
  cursor: pointer;
}

th.icons {
  width:6em;
}

td.bullet {
  vertical-align: middle;
  text-align: center;
}

th.bullet {
  width: 0.5em;
}

td.icons {
  vertical-align:middle;
  text-align:center;
}

td.item {
  vertical-align:middle;
}

td.itemEditing {
  position:relative;
  padding-right:42px;
}

td.itemEditing input {
  margin-top: 0.65em;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}

.fullwidth {
  width:100%;
}

/*
.navbar {
  width: 440px;
}

.container {
  width: 400px !important;
  margin-left: 20px;
}
*/

.item {
  .increment, .remove {
    &:hover {
      cursor: pointer;
    }
  }
}

.indentX (@index) when (@index > -1) {
  (~".indent@{index}") {
    margin-left: (1em*@index);
  }

  .indentX(@index - 1);
}
.indentX (-1) {}

.indentX (@indentLevels);

@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
  td.itemEditing input {
    margin-top: 0.6em;
  }
  td.itemEditing {
    padding-right:32px;
  }
}
