body {
  /* Offset the container below the topbar */

  padding-top: 60px;
}
.navbar {
  width: 440px;
}
.container {
  width: 400px !important;
  margin-left: 20px;
}
.item .increment:hover,
.item .remove:hover {
  cursor: pointer;
}
